body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  background-color: #4c3a9e;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  color: white;
  font-weight: 700;
}

.todo-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.todo-input input {
  width: 50%;
  height: 40px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #6358ab;
  color: white;
  background-color: #4c3a9e;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  text-indent: 15px;
  font-size: 18px;
  outline: none;
}

.todo-input button {
  width: 50%;
  height: 40px;
  border: none;
  background: #00b6f1;
  border-radius: 2px;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
}

.todo-input button:hover {
  -webkit-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
          animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

/* List of tasks */
section {
  margin-top: 10px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  width: calc(50% - 40px);
  background-color: #fffffe;
  color: #595959;
  font-weight: 700;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mark-done, .mark-undone, .delete-undone, .delete-done {
  background-color: #fffffe;
  border: none;
  cursor: pointer;
  color: #009ee0;
}

.mark-done, .mark-undone {
  margin-right: 10px;
}

.delete-undone, .delete-done { 
  color: #ee4c4c;
}

.mark-undone {
  color: #ffdb4a;
}

.darken, .delete-done, .mark-undone {
  background-color: rgb(175, 173, 173);
}

.strikethrough {
  text-decoration: line-through;
}

/* Media queries */
@media (max-width: 700px) {
  .todo-input input,
  .todo-input button {
    width: 90%;
  }

  ul li {
    width: calc(90% - 40px);
  }
}